<nav class="navbar  navbar-expand bg-light">

  <a class="navbar-brand m-1" href="#">DFlix</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Movies <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">TV Shows <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Channels<span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Live<span class="sr-only"></span></a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="#">My List<span class="sr-only"></span></a>
      </li>

    </ul>

    <ul class="nav-btn m-1">

      <button class="btn btn-sm w-30 m-1 btn-outline-dark rounded-5">Search</button>
      <button class="btn btn-sm w-30 m-1 btn-outline-dark rounded-5">SignIn</button>

    </ul>
  </div>
</nav>
